<html>

<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <style>
        .card {
            margin: 20px;
            padding: 20px;
            box-shadow: 0 0 10px reba(0, 0, 0, 0.2);
        }

        .card .name {
            font-size: 30px;
            font-weight: bold;
        }

        .card .title {
            font-size: 20px;
            margin-bottom: 30px;
        }

        .card .phone,
        .email,
        .web,
        .address {
            margin-bottom: 3px;
            font-size: 20px;
        }
    </style>
</head>

<body>
    <div class="card">
        <div class="name">
            <%=namecard.name%>
        </div>
        <div class="title">
            <%=namecard.department%> / <%=namecard.title%>
        </div>
        <div class="phone">
            <%=namecard.phone%>
        </div>
        <div class="email">
            <%=namecard.email%>
        </div>
        <div class="web">
            <%=namecard.web%>
        </div>
        <div class="address">
            <%=namecard.address%>
        </div>

    </div>
    <% if(loginUserId==null){ %>
        <div>
            <a class="btn btn-primary" href="/">로그인</a>
        </div>
        <%} else if (loginUserId!=namecard.userId){%>
            <div>
                <button class="btn btn-primary">내 명함첩에 넣기</button>
            </div>
            <%}%>


</body>

</html>